:root{
    --green: #21eb00;
    --gray: #191a18;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 700px){
    html{
        font-size: 13px;
    }
}

@media(max-width: 500px){
    html{
        font-size: 10px;
    }
}